<nav class="navbar">
  <div class="navbar-container">
    <div class="left-section">
      <a routerLink="/" class="navbar-logo">NewsApp</a>
    </div>

    <div class="right-section">
      <div class="input-group" *ngIf="isHomePage()">
        <div class="search-container">
          <input type="text" id="keyword" [(ngModel)]="searchTerm" placeholder="Search by Keyword"
            (change)="searchArticles()">
          <i class="material-icons search-icon">search</i>
        </div>
      </div>

      <div class="input-group" *ngIf="isHomePage()">
        <input list="categories" id="categorySelect" name="categorySelect" [(ngModel)]="selectedCategory"
          (ngModelChange)="onCategoryChange($event)" placeholder="Select a category" />
      </div>
      <datalist id="categories">
        <option *ngFor="let category of categories" [value]="category.viewValue">
        </option>
      </datalist>

      <div class="input-group">
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </div>

      <div class="input-group">
        <a routerLink="/saved-articles" routerLinkActive="active-link">BookMarked</a>
      </div>
    </div>
  </div>
</nav>