* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 40px;
}

.news-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.no-articles {
    margin-top: 25px;
    padding: 10px;
    font-size: 24px;
}

.news-article {
    width: 300px;
    padding: 5px;
}

.news-article button {
    width: 40%;
    margin-left: 1%;
}

img {
    width: 100%;
    height: 150px;
}

.mat-mdc-card-title {
    font-size: 16px;
    line-height: -1px;
}

.mat-mdc-card-header {
    display: flex;
    padding: 0px 5px;
    font-size: 16px;
}

.mdc-card__actions {
    padding: 0px;
}

.mat-card {
    height: 290px;
}

.mat-card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.mat-card-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: normal;
}

.article {
    cursor: pointer;
}